:root {
  font-family: Avenir;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* --------------------- */
.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays on top of other content */
}
/* --------------------- */
/* //! rename this below */
.content-wrapper {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Align children to start from the top */
  align-items: center; /* Center children horizontally */
  height: calc(100vh - 56px); /* Adjust the height to account for the navbar */
  margin-top: 56px; /* Push content down by the navbar's height */
  padding: 20px; /* Maintain padding */
  box-sizing: border-box; /* Include padding in the element's total height and width */
  width: 100%; /* Ensure it spans the full width */
}

.grid-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start; /* Align items to the top */
  justify-content: center; /* This will still center the items horizontally */
}

.left-box-container {
  display: flex;
  flex-direction: column; /* Stack the left-box and bottom-left-box vertically */
}

.left-box {
  width: 75%; /* Ensure both boxes have the same width */
  margin-right: 10rem; /* Adjust spacing as needed */
  border-bottom: 1px solid #797979; /* Example styling */
}

.bottom-left-box {
  margin-top: 20px; /* Spacing between the left-box and the bottom-left-box */
}
.right-box-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  width: 50%;
  height: 80%;
}

.right-box {
  width: 100%;
  border: 2px solid #797979;
  background-color: #f6f2f2;
  display: flex; /* Make right-box a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 200%; /* Ensure it takes full height of its parent */
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.right-box.drag-over {
  border-color: #000; /* Change as desired */
}

.right-box h2 {
  color: #000;
  text-align: center;
  margin-top: 20px; /* Adds some space between the image and the text */
  font-size: 1.3rem;
  font-weight: bold;
}
.right-box h3 {
  color: #000;
  text-align: center;
  margin-top: 5px; /* Adds some space between the image and the text */
  font-size: 0.95rem;
}

.add-image {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  background-color: #f3f0f0;
  width: 100%;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #797979;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.generate-mask-btn,
.reset-btn {
  display: block; /* Ensure it's block-level for margin to work as expected */
  width: max-content; /* had at 20% Adjust width to content or set a specific width */
  margin: 20px 50px; /* Top margin and horizontally centered */
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, border-color 0.2s;
}

.generate-mask-btn {
  background-color: #baffba; /* Slightly darker green on hover */
  border-color: #008000; /* Darker green border on hover */
  color: #008000; /* Darker green border on hover */
}
.generate-mask-btn:hover {
  background-color: #89f589; /* Slightly darker green on hover */
  border-color: #008000; /* Darker green border on hover */
  color: #023a02;
}

.reset-btn {
  background-color: #ffcccc; /* Light red background for delete */
  border-color: red;
  color: red;
}

.reset-btn:hover {
  background-color: #ff9999; /* Darker red on hover */
  border-color: darkred;
  color: darkred;
}

/* --------------------- */

@media (min-width: 1701px) {
  .add-image {
    border-radius: 0px;
  }
}
@media (max-width: 1401px) {
  .add-image {
    border-radius: 0px;
  }
}
